.main-header{
	// @include angled-edge('inside bottom', 'upper right', $c-purple, 200);
	background: linear-gradient(2deg, $c-white 20%, $c-purple 20.3% 23%, $c-black 23.3%);
	height: 30vh;
	width: 100vw;
	article{
		@include flex-container(center, column, center, nowrap);
		height: 100%;
		width: 100%;
		h1{
			color: $c-white;
			font-size: 14px;
			font-weight: 200;
			text-transform: uppercase;
		}
		img{
			height: 60px;
			margin-bottom: 10px;
			margin-top: -20px;
			width: auto;
		}
		.mouse{
			@include position-select(50%, 65%);
			height: auto;
			width: 30px;
			transform: translate(-50%, 0);
		}
	}
}