body{
	background: $c-white;
	color: $c-black;
	font-family: 'Arial', sans-serif;
	font-size: 16px;
	min-height: 100vh;
	overflow-x: hidden;
	width: 100vw;
}

*{
	box-sizing: border-box;
}

.button{
	background: $c-purple;
	color: $c-white !important;
	font-weight: bold !important;
	&:hover{
		background: darken($c-purple, 25%);
	}
	&.no-color{
		background: transparent !important;
		border: 1px solid $c-black !important;
		color: $c-black !important;
	}
}

.progress-container{
	height: 80px;
	position: relative;
	.my-loader{
		@include position-select(50%, 50%,);
		transform: translate(-50%, -50%) scale(1);
		transition: all .25s ease-in-out;
	}
	&.hide{
		.my-loader{
			transform: translate(-50%, -50%) scale(0);
		}
	}
}

/**********
 * LOADER *
 **********/
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: $c-purple;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(19px, 0);
    }
}
