body{
	background: $c-white;
	color: $c-black;
	font-family: 'Arial', sans-serif;
	font-size: 16px;
	min-height: 100vh;
	overflow-x: hidden;
	width: 100vw;
}

*{
	box-sizing: border-box;
}

.button{
	background: $c-purple;
	color: $c-white !important;
	font-weight: bold !important;
	&:hover{
		background: darken($c-purple, 25%);
	}
	&.no-color{
		background: transparent !important;
		border: 1px solid $c-black !important;
		color: $c-black !important;
	}
}